body{
    font-family: 'Minion Pro';
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
.header-menu li{
    display: inline-block;
}
.header-menu a{
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding-left: 15px;
}
.header-menu a:hover{
    color: red;
}
.lang::before{
    font-family: FontAwesome;
    content: "\f1ab";
    color: black;
    font-style: normal;
    padding-right: 5px;
}
.lang::after{
    font-family: FontAwesome;
    content: "\f0d7";
    color: black;
    font-style: normal;
    padding-left: 5px;
}
section{
    display: flex;
    justify-content: space-between;
}
.menu-input{
    flex-basis: 300px;
}
.menu-input p{
    font-size: 30px;
    font-weight: bold;
}
.menu-back{
    border: 1px solid black;
    height: 600px;
    background-image: url(./file/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-text{
    max-width: 1030px;
    font-size: 16px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
footer p{
    font-size: 14px;
}
.footer-social a{
    position: relative;
    display: inline-block;
    width: 33px;
    height: 33px;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;
}
.footer-social a:hover{
    background-color: red;
}
.facebook::after{
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: FontAwesome;
    content: "\f09a";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.vk::after{
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: FontAwesome;
    content: "\f189";
    color: white;
    font-style: normal;
    font-weight: normal;
}